---
import Layout from "../layouts/Layout.astro";
import { externalPosts } from "../../data/external-posts";
import { isAstroPost, Post } from "../../common/shapes/posts";
import { sortAnyPostByDate } from "../../common/utils/sort-any-post-by-date";
import {
  validateAstroPosts,
  validateExternalPosts,
} from "../../common/utils/validate";

const astroPosts = await Astro.glob<Post>("./*.md");

validateAstroPosts(astroPosts);
validateExternalPosts(externalPosts);

const sortedPosts = sortAnyPostByDate([...astroPosts, ...externalPosts]);
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>I. Welch Canavan</h1>

    {
      sortedPosts.map((p) =>
        isAstroPost(p) ? (
          <article>
            <h1>{p.frontmatter.title}</h1>
            <h2>{p.frontmatter.date}</h2>
            <a href={p.url}>Read more</a>
          </article>
        ) : (
          <article>
            <h1>{p.title}</h1>
            <h2>{p.date}</h2>
            <a href={p.url}>Read more</a>
          </article>
        )
      )
    }
  </main>
</Layout>
