---
import DefaultLayout from "../layouts/Default.astro";
// import { externalPosts } from "../../data/external-posts";
// import { isAstroPost, Post } from "../../common/shapes/posts";
// import { sortAnyPostByDate } from "../../common/utils/sort-any-post-by-date";
// import {
//   validateAstroPosts,
//   validateExternalPosts,
// } from "../../common/utils/validate";

// const astroPosts = await Astro.glob<Post>("./*.md");

// validateAstroPosts(astroPosts);
// validateExternalPosts(externalPosts);

// const sortedPosts = sortAnyPostByDate([...astroPosts, ...externalPosts]);
---

<style>
  img {
    max-width: 45em;
  }

  p {
    font-size: 1.5em;
    padding: 1.5em;
    max-width: 30em;
  }
</style>

<DefaultLayout>
  <article>
    <img src="/images/me-2019.jpg" />
    <p class="type-display">
      Hi, I'm welch, a software engineer located in the Pacific Northwest.
      Please have a look at my <a href="https://github.com/xiwcx/">code</a>, <a
        href="https://www.linkedin.com/in/welchcanavan/">resume</a
      >, or <a href="https://dev.to/xiwcx">writing</a>.
    </p>
  </article>

  <!-- <div>
    {
      sortedPosts.map((p) =>
        isAstroPost(p) ? (
          <article>
            <h1>{p.frontmatter.title}</h1>
            <h2>{p.frontmatter.date}</h2>
            <a href={p.url}>Read more</a>
          </article>
        ) : (
          <article>
            <h1>{p.title}</h1>
            <h2>{p.date}</h2>
            <a href={p.url}>Read more</a>
          </article>
        )
      )
    }
  </div> -->
</DefaultLayout>
