---
import Layout from "../layouts/Layout.astro";
import { z } from "zod";
import { A, G } from "@mobily/ts-belt";
import { isBefore, parseISO } from "date-fns";
import { externalPosts, ExternalPost } from "../../data/external-posts";
import type { MarkdownInstance } from "astro";

const post = z.object({
  description: z.string().optional(),
  heroAlt: z.string().optional(),
  title: z.string(),
  date: z.string(),
});

type Post = z.infer<typeof post>;
type AstroPost = MarkdownInstance<Post>;
type AnyPost = AstroPost | ExternalPost;

const posts = await Astro.glob<Post>("./*.md");

posts.forEach((p) => post.parse(p.frontmatter));

const sortByDateAscending = (dateOne: Date, dateTwo: Date) =>
  isBefore(dateOne, dateTwo) ? 1 : -1;

const isAstroPost = (p: AnyPost): p is AstroPost => G.isObject(p.frontmatter);

const getDateFromPost = (p: AnyPost) =>
  parseISO(isAstroPost(p) ? p.frontmatter.date : p.date);

const sortedPosts: Readonly<AnyPost[]> = A.sort(
  [...posts, ...externalPosts],
  (current, next) =>
    sortByDateAscending(getDateFromPost(current), getDateFromPost(next))
);
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>I. Welch Canavan</h1>

    {
      sortedPosts.map((p) =>
        isAstroPost(p) ? (
          <article>
            <h1>{p.frontmatter.title}</h1>
            <h2>{p.frontmatter.date}</h2>
            <a href={p.url}>Read more</a>
          </article>
        ) : (
          <article>
            <h1>{p.title}</h1>
            <h2>{p.date}</h2>
            <a href={p.url}>Read more</a>
          </article>
        )
      )
    }
  </main>
</Layout>
