{{> header }}
  {{#if contents}}
    {{{ contents }}}
  {{else}}
    a list of articles

    {{#each collections.posts}}
      <article class="preview-container">
        <header class="preview-header">
          <h2>
            <a href="/{{ this.slug }}">
              {{ this.title }}
            </a>
          </h2>
        </header>

        <p>
          <a href="/{{ this.slug }}">
            read more
          </a>
        </p>
      </article>
    {{/each}}
  {{/if}}
{{> footer }}
