{{> header }}
  {{#if contents}}
    {{{ contents }}}
  {{else}}
    {{#each collections.posts}}
      <ul>
        <a href="/{{ this.slug }}">
          <p>
            {{ this.title }}
          </p>

          <p>
            {{ this.date }}
          </p>
        </a>
      </ul>
    {{/each}}
  {{/if}}
{{> footer }}
