---
import FormTheme from "../components/Theme/FormTheme.astro";
import Logo from "../components/Logo.astro";
import Posthog from "../components/Posthog.astro";
import { cloudinaryClient } from "../utils/cloudinary";

type Article = {
  title?: string;
  description?: string | undefined;
};

export interface Props {
  article?: Article;
}

const { article = {} } = Astro.props;
const siteTitle = "i. welch canavan";
const isArticle = article.title !== undefined;
const title = isArticle ? `${article.title} | ${siteTitle}` : siteTitle;

const OGImage = article.title
  ? await cloudinaryClient.url("dynamic-social-card-background_xirhh6", {
      transformation: [
        { width: 1200, height: 630 },
        {
          overlay: {
            font_family: "Roboto",
            font_size: 75,
            font_weight: "bold",
            text: article.title,
          },
          color: "#fff3f7",
          gravity: "south_west",
          width: 1000,
          crop: "fit",
          x: 60,
          y: 40,
        },
      ],
    })
  : await cloudinaryClient.url("themed-logo-dark-pink", {
      width: 1200,
      height: 630,
      crop: "fill",
    });
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=crimson-pro@1,2&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.typekit.net/tdw5rhu.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={siteTitle}
      href={new URL("rss.xml", Astro.site)}
    />

    <meta name="color-scheme" content="dark light" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    {
      article.description && (
        <meta property="og:description" content={article.description} />
      )
    }
    <meta property="og:type" content={isArticle ? "article" : "website"} />
    <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
    <meta property="og:image" content={OGImage} />

    <title>{title}</title>

    <script is:inline>
      const theme = localStorage.getItem("theme") || "system";

      const colorScheme = {
        system: "light dark",
        light: "light",
        dark: "dark",
      };

      document.documentElement.style.colorScheme = colorScheme[theme];
    </script>
    <Posthog />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li class="title-container">
            <a href="/" class="title">
              <Logo svgProps={{ class: "logo" }} />
              <h1>i. welch canavan</h1>
            </a>
          </li>
          <li>
            <a href="https://github.com/xiwcx">GitHub</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/welchcanavan/">LinkedIn</a>
          </li>
          <li>
            <a href="https://bsky.app/profile/xiwcx.bsky.social">Bluesky</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer class="footer">
      <FormTheme />

      <p>© 2024 Welch Canavan</p>
    </footer>
  </body><style>
    header {
      .title-container {
        width: 100%;

        @media (min-width: 500px) {
          flex-grow: 1;
          width: auto;
        }
      }
      nav {
        ul {
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          gap: 1em;
          list-style-type: none;
          margin: 0;
          padding: 0;

          li:first-child {
            font-variation-settings: "wght" 500;

            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  </style>
</html>
